@import "tailwindcss";


@theme {
  --color-yellow: #ffb703;
  --color-green: #72b01d;
  --color-blue: #3a86ff;
  --color-quaternary: #000000;
  --color-quinary: #000000;
  --color-senary: #000000;
  --color-septenary: #000000;
}


@keyframes border-draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-border-draw {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: border-draw 1s linear infinite;
}

@layer base {
  html {
    @apply w-full;
  }

  body {
    @apply overflow-x-hidden flex m-0 w-full min-h-screen;
  }

  #root {
    @apply w-full flex-1 min-h-0;
  }
}